[Unit]
Description=Urxvt Terminal Daemon
Requires=urxvtd.socket

[Service]
# On WSL options -o/-f don't work; just do without
# ExecStart=/usr/bin/urxvtd
ExecStart=/usr/bin/urxvtd -q -o -f
Environment=RXVT_SOCKET=%h/.urxvt/urxvtd-%H

[Install]
WantedBy=default.target

